.v-card.v-sheet {
    box-shadow: 50px 55px 32px -79px rgba(224, 90, 0, 1), -50px 55px 32px -79px rgb(46, 196, 182);
}

.no-shadow {
    box-shadow: none !important;
}

p {
    margin-bottom: 0 !important;
}