.v-card.c-shadow-1 {
    box-shadow: 50px 55px 32px -79px rgba(224, 90, 0, 1), -50px 55px 32px -79px rgb(46, 196, 182) !important;
    /* box-shadow: 100px 50px 75px -100px rgba(224, 90, 0, 1), -100px 50px 75px -100px rgb(46, 196, 182); */
    /* box-shadow: 25px 25px 40px -53px rgba(224, 90, 0, 1), -25px 25px 40px -53px rgb(46, 196, 182)*/
}




.no-shadow {
    box-shadow: none !important;
}

p {
    margin-bottom: 0 !important;
}